<svg width="100%" height="auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 20 1250 66">
 <g>
  <title>background</title>
  <rect fill="none" id="canvas_background" height="92" width="100%" y="-1" x="-1"/>
  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
  </g>
 </g>
 <g>
  <title>Layer 1</title>
  <path id="svg_3" d="m0.75,0.74999" opacity="0.5" stroke-width="1.5" fill="#ef746f"/>
  <g id="svg_5">
   <path id="svg_4" d="m-6.5228,44.3868l255.46359,-20.90627l772.73509,14.54561l250.91163,-29.09121l-1.8182,80.00081l-1278.19475,0l0.90264,-44.54894z" stroke-width="1.5" fill="#fdc441"/>
   <path id="svg_2" d="m-6.5228,46.205l166.37178,2.73034l461.82285,-29.0912l650.91567,20.0002l0,50.90961l-1276.37655,0l-2.73376,-44.54895z" stroke-width="1.5" fill="#ef746f"/>
   <path id="svg_1" d="m-6.5228,91.66001l1280.92851,-0.90606l0,-41.8186l-483.64126,-30.9094l-543.64186,52.72781l-254.54803,-23.6366l0.90264,44.54287z" stroke-width="1.5" fill="#57616d"/>
  </g>
 </g>
</svg>
<div class="bg-footer">
  <div class="px-4 mx-auto sm:max-w-xl md:max-w-3xl lg:max-w-3xl md:px-24 lg:px-8">
    <div class="flex justify-center pb-12">
      <img class="block h-11 w-auto" src="https://res.cloudinary.com/rafxss/image/upload/v1613005034/Agape/agape_white_fsuwcx.png" alt="Agape">
    </div>
    <div class="grid row-gap-10 mb-8">
      <div class="grid grid-cols-2 gap-7 row-gap-8 lg:col-span-4 md:grid-cols-4">
        <div>
          <p class="font-medium tracking-wide text-gray-300 pb-4">CONÓCENOS</p>
          <ul class="mt-2 space-y-2">
            <li>
              <a href="/" class="text2-footer">VISIÓN & MISIÓN</a>
            </li>
            <li>
              <a href="/" class="text2-footer">STAFF</a>
            </li>
            <li>
              <a href="/" class="text2-footer">ENFOQUES</a>
            </li>
            <li>
              <a href="/" class="text2-footer">HISTORIAS DE ÁGAPE</a>
            </li>
            <li>
              <a href="/" class="text2-footer">HISTORIA ÁGAPE INTERNACIONAL</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium tracking-wide text-gray-300 pb-4">PARTICIPA</p>
          <ul class="mt-2 space-y-2">
            <li>
              <a href="/" class="text2-footer">PRÓXIMOS EVENTOS</a>
            </li>
            <li>
              <a href="/" class="text2-footer">VOLUNTARIOS</a>
            </li>
            <li>
              <a href="/" class="text2-footer">BECARIOS</a>
            </li>
            <li>
              <a href="/" class="text2-footer">DONAR</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium tracking-wide text-gray-300 pb-4">RECURSOS</p>
          <ul class="mt-2 space-y-2">
            <li>
              <a href="/" class="text2-footer">TIENDA</a>
            </li>
            <li>
              <a href="/" class="text2-footer">THE FOUR</a>
            </li>
            <li>
              <a href="/" class="text2-footer">PELICULA JESUS</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium tracking-wide text-gray-300 pb-4">CONTACTO</p>
          <ul class="mt-2 space-y-2">
            <li>
              <a href="/" class="text2-footer">SANT FRUCTUÓS, 2 BAJO (08004) BARCELONA</a>
            </li>
            <li>
              <a href="/" class="text2-footer">93 424 30 31</a>
            </li>
            <li>
              <a href="/" class="text2-footer">INFO@AGAPE.ORG</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex justify-center pt-5 pb-10">
      <p class="text-sm secondary-color">
        ©2021 · <a href="">Aviso Legal</a> | <a href="">Política de Privacidad</a>
      </p>
    </div>
  </div>
</div>
