<div class="bg-gray-900">
  <div class="px-4 pt-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="flex justify-center pt-5 pb-12">
      <img class="block h-11 w-auto" src="https://res.cloudinary.com/rafxss/image/upload/v1613005034/Agape/agape_white_fsuwcx.png" alt="Agape">
    </div>
    <div class="grid row-gap-10 mb-8 lg:grid-cols-6">
      <div class="grid grid-cols-2 gap-5 row-gap-8 lg:col-span-4 md:grid-cols-4">
        <div>
          <p class="font-medium tracking-wide text-gray-300 pb-4">CONÓCENOS</p>
          <ul class="mt-2 space-y-2">
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">VISIÓN & MISIÓN</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">STAFF</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">ENFOQUES</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">HISTORIAS DE ÁGAPE</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">HISTORIA ÁGAPE INTERNACIONAL</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium tracking-wide text-gray-300 pb-4">PARTICIPA</p>
          <ul class="mt-2 space-y-2">
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">PRÓXIMOS EVENTOS</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">VOLUNTARIOS</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">BECARIOS</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">DONAR</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium tracking-wide text-gray-300 pb-4">RECURSOS</p>
          <ul class="mt-2 space-y-2">
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">TIENDA</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">THE FOUR</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">PELICULA JESUS</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium tracking-wide text-gray-300 pb-4">CONTACTO</p>
          <ul class="mt-2 space-y-2">
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">SANT FRUCTUÓS, 2 BAJO (08004) BARCELONA</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">93 424 30 31</a>
            </li>
            <li>
              <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-200">INFO@AGAPE.ORG</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex justify-center pt-5 pb-10">
      <p class="text-sm text-gray-500">
        ©2021 · <a href="">Aviso Legal</a> | <a href="">Política de Privacidad</a>
      </p>
    </div>
  </div>
</div>
