<div class="bg-header">
  <div class="px-4 py-40 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 sm:py-56">
    <div class="max-w-xl sm:mx-auto lg:max-w-3xl">
      <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
        <div class="max-w-xl py-8 md:mx-auto sm:text-center lg:max-w-3xl md:py-12">
          <h2 class="text1-header max-w-3xl mb-6 tracking-tight md:mx-auto">
            Personas · Compromiso · Misión
          </h2>
          <p class="text2-header">
            Acompáñanos en la mejor de las aventuras
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
