<nav class="navbar">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 focus:outline-none" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <!--
            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!-- Icon when menu is open. -->
          <!--
            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-between">
        <div class="flex-shrink-0 flex items-center sm:ml-16">
          <a href=""><img class="block h-8 w-auto" src="https://res.cloudinary.com/rafxss/image/upload/v1613005034/Agape/agape_white_fsuwcx.png" alt="Agape"></a>
        </div>
        <div class="hidden sm:block sm:ml-6 sm:mr-16">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <div class="dropdown">
            <button class="text-white px-3 py-2 rounded-md text-sm font-medium focus:outline-none" id="user-menu" aria-haspopup="true"><span class="sr-only">Open user menu</span>CONÓCENOS</button>
              <div class="menu-navbar absolute mt-2 w-48 shadow-xl py-1" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                <a href="#" class="menu-item block px-4 py-2 text-sm" role="menuitem">VISIÓN & MISIÓN</a>
                <a href="#" class="menu-item block px-4 py-2 text-sm" role="menuitem">STAFF</a>
                <a href="#" class="menu-item block px-4 py-2 text-sm" role="menuitem">ENFOQUES</a>
                <a href="#" class="menu-item block px-4 py-2 text-sm" role="menuitem">HISTORIAS DE ÁGAPE</a>
                <a href="#" class="menu-item block px-4 py-2 text-sm" role="menuitem">HISTORIA ÁGAPE INTERNACIONAL</a>
              </div>
            </div>
            <a href="#" class="text-white px-3 py-2 rounded-md text-sm font-medium">PARTICIPA</a>
            <a href="#" class="text-white px-3 py-2 rounded-md text-sm font-medium">RECURSOS</a>
            <a href="#" class="bg-secondary-color text-button rounded-full inline-flex items-center px-3 py-1 text-sm font-medium">DONAR</a>
          </div>
        </div>
      </div>
      <!-- <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"> -->
        <!-- Profile dropdown -->
        <!-- <div class="ml-3 relative"> -->
          <!-- <div>
            <button class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </button>
          </div> -->
          <!--
            Profile dropdown panel, show/hide based on dropdown state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
        </div>
      </div>
    </div>
  </div>

  <!--
    Mobile menu, toggle classes based on menu state.

    Menu open: "block", Menu closed: "hidden"
  -->
  <div class="hidden sm:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">Dashboard</a>
      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>
      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>
      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
    </div>
  </div>
</nav>
