<!-- <div class="flex justyfy-start h-6">
  <svg width="569" height="558" xmlns="http://www.w3.org/2000/svg">
   <g>
    <title>background</title>
    <rect fill="none" id="canvas_background" height="560" width="571" y="-1" x="-1"/>
    <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
     <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
    </g>
   </g>
   <g>
    <title>Layer 1</title>
    <path stroke="#0f0f00" id="svg_2" d="m0.71663,2.14988l-0.71663,555.38546l515.97107,0l53.03033,-54.46362l0,-503.07172l-568.28477,2.14988z" stroke-width="0" fill="#fcc34e"/>
   </g>
  </svg>
</div>
 -->
