<div class="bg-section1 py-16">
  <div class="flex flex-col justify-center px-10 mx-10 lg:px-24 lg:mx-24 text-center">
    <p class="text1-section1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <br>
    <p class="text2-section1">AUTOR DE LA CITA</p>
  </div>
</div>
