<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-24 lg:py-20">
  <div class="mb-10 text-center md:mb-12">
    <h2 class="text-section4 inline-block mb-1 sm:mb-4">
      ENFOQUES
      <span class="text-section4-light">
        ÁGAPE
      </span>
    </h2>
  </div>
  <div class="grid mb-8 lg:grid-cols-3 sm:grid-cols-2">
    <a href="/" aria-label="View Item">
      <div class="relative overflow-hidden transition duration-200 transform hover:-translate-y-2 hover:shadow-2xl card relative overflow-hidden shadow-2xl">
        <img class="object-cover w-full h-64" src="https://res.cloudinary.com/rafxss/image/upload/v1613061404/Agape/1_2x_talpg3.png" alt="" />
        <div class="flex items-center absolute inset-x-0 bottom-0 px-6 py-4 bg-cards">
          <img class="block h-10 w-auto mr-3" src="https://res.cloudinary.com/rafxss/image/upload/v1613059730/Agape/card1logo_vqtegi.png" alt="SHINE">
          <p class="text-sm font-medium tracking-wide text-white">
            SHINE
          </p>
        </div>
      </div>
    </a>
    <a href="/" aria-label="View Item">
      <div class="relative overflow-hidden transition duration-200 transform hover:-translate-y-2 hover:shadow-2xl card relative overflow-hidden shadow-2xl">
        <img class="object-cover w-full h-64" src="https://res.cloudinary.com/rafxss/image/upload/v1613061404/Agape/2_2x_dqgsnk.png" alt="" />
        <div class="flex items-center absolute inset-x-0 bottom-0 px-6 py-4 bg-cards">
          <img class="block h-10 w-auto mr-3" src="https://res.cloudinary.com/rafxss/image/upload/v1613059808/Agape/card2logo_mxl7fa.png" alt="Q">
          <p class="text-sm font-medium tracking-wide text-white">
            Q - CRISTIANOS UNIVERSITARIOS
          </p>
        </div>
      </div>
    </a>
    <a href="/" aria-label="View Item">
      <div class="relative overflow-hidden transition duration-200 transform hover:-translate-y-2 hover:shadow-2xl card relative overflow-hidden shadow-2xl">
        <img class="object-cover w-full h-64" src="https://res.cloudinary.com/rafxss/image/upload/v1613061404/Agape/3_2x_rtejyt.png" alt="" />
        <div class="flex items-center absolute inset-x-0 bottom-0 px-6 py-4 bg-cards">
          <img class="block h-10 w-10 mr-3 rounded-full bg-white" src="https://res.cloudinary.com/rafxss/image/upload/v1613059882/Agape/Logo-extra-peque%C3%B1o_dh9hhi.png" alt="La fuente del peregrino">
          <p class="text-sm font-medium tracking-wide text-white">
            LA FUENTE DEL PEREGRINO
          </p>
        </div>
      </div>
    </a>
    <a href="/" aria-label="View Item">
      <div class="relative overflow-hidden transition duration-200 transform hover:-translate-y-2 hover:shadow-2xl card relative overflow-hidden shadow-2xl">
        <img class="object-cover w-full h-64" src="https://res.cloudinary.com/rafxss/image/upload/v1613061404/Agape/4_2x_oq3cqb.png" alt="" />
        <div class="flex items-center absolute inset-x-0 bottom-0 px-6 py-4 bg-cards">
          <img class="block h-10 w-10 mr-3 rounded-full bg-white" src="https://res.cloudinary.com/rafxss/image/upload/v1613060417/Agape/Layer_26_pm7hua.png" alt="SOM">
          <p class="text-sm font-medium tracking-wide text-white">
            SOM
          </p>
        </div>
      </div>
    </a>
    <a href="/" aria-label="View Item">
      <div class="relative overflow-hidden transition duration-200 transform hover:-translate-y-2 hover:shadow-2xl card relative overflow-hidden shadow-2xl">
        <img class="object-cover w-full h-64" src="https://res.cloudinary.com/rafxss/image/upload/v1613061404/Agape/5_2x_qwcm5n.png" alt="" />
        <div class="flex items-center absolute inset-x-0 bottom-0 px-6 py-4 bg-cards">
          <div class="block h-10 w-auto mr-3">
            <img class="block h-10 w-auto mr-3" src="https://res.cloudinary.com/rafxss/image/upload/v1613005034/Agape/agape_white_fsuwcx.png" alt="Q">
          </div>
          <p class="text-sm font-medium tracking-wide text-white">
            ALCANCE
          </p>
        </div>
      </div>
    </a>
    <a href="/" aria-label="View Item">
      <div class="relative overflow-hidden transition duration-200 transform hover:-translate-y-2 hover:shadow-2xl card relative overflow-hidden shadow-2xl">
        <img class="object-cover w-full h-64" src="https://res.cloudinary.com/rafxss/image/upload/v1613061404/Agape/6_2x_n0zori.png" alt="" />
        <div class="flex items-center absolute inset-x-0 bottom-0 px-6 py-4 bg-cards">
          <img class="block h-10 w-auto mr-3" src="https://res.cloudinary.com/rafxss/image/upload/v1613060941/Agape/poster-768x1187_dzktns.png" alt="Agape">
          <p class="text-sm font-medium tracking-wide text-white">
            ARCHIVO CERO
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="text-center mt-20">
    <a href="/" aria-label="" class="transition duration-500 ease-in-out transform hover:scale-110 bg-secondary-color text-button rounded-full inline-flex items-center px-3 py-2">
      CARGAR MÁS ENFOQUES
    </a>
  </div>
</div>
