<div class="relative">
  <div class="relative bg-section3">
  <img src="https://res.cloudinary.com/rafxss/image/upload/v1613066983/Agape/Shape_4_saqsrq.png" class="absolute inset-x-0 bottom-0 object-cover w-full" alt="" />
  </div>
  <div class="absolute inset-0 p-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl  xl:px-24 xl:pt-64">
    <div class="flex flex-col items-center justify-between xl:flex-row">
      <div class="z-10 w-full max-w-xl mb-12 xl:mb-0 xl:pr-16 xl:w-7/12">
        <h2 class="ml-2 secondary-color text1-section3 max-w-lg sm:leading-none">
          CIUDADES <span class="text-white">DONDE ESTAMOS ENFOCADOS</span>
        </h2>
        <h2 class="text2-section3 text-white max-w-xl">
          Barcelona
        </h2>
        <div class="mb-7 ml-2">
          <svg width="43" height="6" xmlns="http://www.w3.org/2000/svg">
           <g>
            <title>Layer 1</title>
            <rect id="svg_2" height="4" width="41" y="0.75" x="0.75" stroke-width="1.5" fill="#fdc441"/>
           </g>
          </svg>
        </div>
        <div>
          <a href="/" aria-label="" class="ml-2 bg-button3 text-button text-white rounded-full inline-flex items-center px-3 py-2">
            CONOCE LO QUE HACEMOS AQUÍ
          </a>
        </div>
      </div>
      <div class="photo-section3">
        <div class="shadow-2xl">
          <img src="https://res.cloudinary.com/rafxss/image/upload/v1613069208/Agape/Layer_8_sd42ki.png" class="object-cover" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
