.clip-img {
  clip-path: polygon(100% 0, 100% 82%, 84% 100%, 0 100%, 0 0);
}

.text1-section2 {
  color: #ef746f;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.text2-section2 {
  color: #57616d;
  font-size: 35px;
  font-weight: 700;
  margin-left: 5px;
  line-height: 1.2;
}

.img-section2 {
  height: 277px;
  width: 415px;
}

.img-text {
  color: #57616d;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.bg-button2 {
  background-color: #ef746f;
  font-weight: 600;
  font-size: 12px;
}

.bg-section2 {
  font-family: Lato;
}

.shape-section2 {
  z-index: -1;
  top: 33px;
  left: 10px;
}

.text3-section2 {
  background-color: #fdc441;
  color: #ffffff;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  padding: 5px;
  width: 200px;
  text-align: center;
}

@media (min-width: 1024px) {
  .text3-section2 {
    background-color: transparent;
    color: #ffffff;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
  }
}

.left-arrow {
  z-index: 100;
  top: 380px;
  left: 10px;
}

.right-arrow {
  transform: rotate(180deg);
  z-index: 100;
  top: 380px;
  right: 10px;
}






















