.text1-section3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.text2-section3 {
  font-size: 60px;
  font-weight: 700;
  margin-left: 5px;
}

.bg-button3 {
  background-color: #57616d;
}

@media (min-width: 374px) {
  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 650px;
  }
}

@media (min-width: 425px) {
  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 750px;
  }
}

@media (min-width: 576px) {
  .text2-section3 {
    font-size: 90px;
    font-weight: 700;
    margin-left: 5px;
  }

  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 800px;
  }
}

@media (min-width: 768px) {
  .text2-section3 {
    font-size: 130px;
    font-weight: 700;
  }

  .photo-section3 {
    width: 555px;
  }

  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 900px;
  }
}



@media (min-width: 992px) {

}

@media (min-width: 1280px) {
  .photo-section3 {
    position: absolute;
    top: 200px;
    right: 0;
    width: 765px;
    animation: up 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.8s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  @keyframes up {
  to {
    transform:translateY(-500px);
  }
}

  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 700px;
  }
}










