// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.secondary-color {
  color: #fdc441;
}

.bg-secondary-color {
  background-color: #fdc441;
}

// Footer

.bg-footer {
  background-color: #57616d;
  font-family: Lato;
}

.text2-footer {
  color: #aebccc;
  font-size: 12px;
  line-height: 1 !important;
}

// Section 1

.bg-section1 {
  font-family: Lato;
  background-color: #eef2f7;
  font-style: italic;
}

.text1-section1 {
  color: #57616d;
  font-size: 18px;
  letter-spacing: 2px;
}

.text2-section1 {
  color: #ef746f;
  font-weight: 600;
  font-size: 14px;
}

// Section 3

.text1-section3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.text2-section3 {
  font-size: 60px;
  font-weight: 700;
  margin-left: 5px;
}

.bg-button3 {
  background-color: #57616d;
}

// Section 4

.bg-cards {
  background-color: #57616d;
  opacity: 80%;
}

.text-button {
  color: #57616d;
  font-family: Lato;
  font-weight: 600;
  font-size: 14px;
}

.text-section4 {
  font-family: Lato;
  font-weight: 500;
  color: #9a9a9a;
  font-size: 18px;
  letter-spacing: 4px;
}

.text-section4-light {
  font-weight: 300;
}




@media (min-width: 374px) {
  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 650px;
  }
}

@media (min-width: 425px) {
  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 750px;
  }
}

@media (min-width: 576px) {
  .text2-section3 {
    font-size: 90px;
    font-weight: 700;
    margin-left: 5px;
  }

  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 800px;
}
}

@media (min-width: 768px) {
  .text2-section3 {
    font-size: 130px;
    font-weight: 700;
  }

  .photo-section3 {
    width: 555px;
  }

  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 900px;
  }
}



@media (min-width: 992px) {

}

@media (min-width: 1280px) {
  .photo-section3 {
    position: absolute;
    top: -60px;
    right: 0;
    width: 765px;
  }

  .bg-section3 {
    background-color: #ef746f;
    font-family: Lato;
    height: 700px;
  }
}























